<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <script src="/js/carrito.js"></script>
</head>
<body>
    <a href="/index"><i class="bi bi-arrow-left"></i></a>
    <h2>carrito</h2>
    <a class="btn btn-outline-primary" onclick="pagar()" href="/checkout" >Confirmar pedido</a>
</body>
</html>