<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <style>
        .contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 30px;
            height: 800px;
        }
        .formulario{
            padding: 50px;
            border-radius: 15px;
            border: solid 1px rgb(231, 231, 231);
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <h2>Registro</h2>
    <form class="formulario">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ingrese su Nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email"  name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Ingrese su correo electronico">
        </div><div class="form-group">
            <label for="exampleInputEmail1">Direccion</label>
            <input type="text"  name="direccion" class="form-control"placeholder="Ingrese su dirección">
        </div><div class="form-group">
            <label for="exampleInputEmail1">telefono</label>
            <input type="number"  name="telefono" class="form-control" placeholder="Ingrese su telefono">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password"  name="pass" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su Contraseña">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;" >Continuar</button>
        <div>
            <a href="/index" style="text-decoration: none; color: red; margin-top: 30px; font-size: 15px;">Cancelar</a>
        </div>
    </form>
</div>
    <% if (typeof msg !== 'undefined') { %>
        <p><%= msg %></p>
      <% } %>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>